{% extends "app1/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'app1/register.css' %}">
<div class="sign-up-form">
    <img src ="{% static 'app1/images/user icon.png' %}">
     <h1>Sign Up Now</h1>
     <form action= "{% url 'tourist-register-sub' %}" method="POST">
         {% csrf_token %}
         <input type="text" class="input-box" name = "name" placeholder="Enter name">
         <input type="email" class="input-box" name = "email" placeholder="Enter Email">
         <input type="text" class="input-box" name = "phone" placeholder="Phone number">
         <input type="password" class="input-box" name = "password" placeholder="Password">
         <input type="password" class="input-box" name = "password2" placeholder="confirm Password">
         <button type="submit" class="signup-btn">sign up</button>
         <hr>
         <p style="color: black;">do u have another account? <a href="{% url 'user-tourist_login' %}">Log in</a></p>
         
     </form>
      
  </div>
{% endblock content %}