{% extends "app1/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'app1/login.css' email%}">
       <div class="login-box">
           <form action="{% url 'user-register' %}" method = "POST">
               {% csrf_token %}
            <h1>Login</h1>
            <div class="textbox">
              <i class="fas fa-user"></i>
               <input type="email" placeholder="Enter email" name="email">      
            </div>
             <div class="textbox">
              <i class="fas fa-lock"></i>
               <input type="password" placeholder="Password" name="password">     
            </div>
            <button class="btn" type="submit"> Log In </button> 
        </form>
        <a href="{% url 'user-tourist_signup' %}"><p>new here? create account</p></a>                    
     </div>
     
{% endblock content %}
    