{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'app1/Mainpage.css' %}">
  <title>Document</title>
</head>
<body>
<div class="menu-bar">
    <ul>
       <li class="active"><a href = "{% url 'app1-home' %}"><i class="fas fa-home"></i>Home</a>
       <!-- <div class="sub-menu-1">
            <ul>
                <li><a href=""><i class="fas fa-search-plus"></i>Search</a></li>
                <li><a href=""><i class="fas fa-money-check-alt"></i>Offers</a></li>
                <li><a href=""><i class="fas fa-bookmark"></i>Bookings</a></li>
            </ul>
        </div> -->
       </li>
        <li ><a href="%"><i class="fas fa-user-plus"></i>Sign up</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="{% url 'user-tourist_signup' %}"><i class="fas fa-search-plus"></i>Tourist</a></li>
                    <li><a href="{% url 'user-guide_signup' %}"><i class="fas fa-money-check-alt"></i>Guide</a></li>
                    <!-- <li><a href=""><i class="fas fa-bookmark"></i>Bookings</a></li> -->
                </ul>
            </div>
        </li>
        
        <li><a href="{% url 'user-login' %}"><i class="fas fa-sign-in-alt"></i>Log in</a>
            <div class="sub-menu-1">
            <ul>
                <li><a href="{% url 'user-tourist_login' %}"><i class="fas fa-search-plus"></i>Tourist</a></li>
                <li><a href="{% url 'user-guide_login' %}"><i class="fas fa-money-check-alt"></i>Guide</a></li>
                <!-- <li><a href=""><i class="fas fa-bookmark"></i>Bookings</a></li> -->
            </ul>
        </div>
        </li>
        <li><a><i class="fas fa-location-arrow"></i>Places</a></li>
        <li><a><i class="fas fa-book"></i>Know us</a>
        <div class="sub-menu-1">
            <!-- <ul>
                <li><a href=""><i class="fas fa-phone"></i>Contact</a></li>
                <li><a href=""><i class="fas fa-mobile"></i>Mobile app</a></li>
                <li><a href=""><i class="fas fa-bullseye"></i>Objective</a></li>
            </ul> -->
        </div>
        </li>
        <li><a><i class="far fa-question-circle"></i>Info</a>
        </div>
        </li>
       
    </ul>
    
    </div>
   
    {% block content %}
      
    {% endblock content %}
      
</body>
</html>