{% extends 'app1/base.html' %}
{% block content %}
<link rel="stylesheet" href="% static 'app1/Mainpage.css' %">
 <div class="row">
       <div class="col">
           <h1>Tourist Guide</h1>
           <p>Come see the beautiful Bangladesh. A place of joy and happiness.River and hill sings as the nature flows through the vein of the country.Everybody exclaims in joy and wonder at the unforgettable and unimaginable beauty of this land. Onlookers are immersed in the fathomless depth of the ocean of beauty. </p>
           <button type="button">Explore</button>
       </div>
       <div class="col">
       <div class="card card1">
           <a href="{% url 'user-rangamati'%}"><h3>Rangamati</h3></a>
           <p>rangamati is a beautiful place</p>
       </div>
       <div class="card card2">
           <a href="{% url 'user-kuakata'%}"><h3>Kuakata</h3></a>
           <p>Watch the sun collab with the sea</p>
       </div>
       <div class="card card3">
           <a href="{% url 'user-sundarban'%}"><h3>Sundarbans</h3></a>
           <p>Enjoy the salty mangroves</p>
       </div>
       <div class="card card4">
           <a href="{% url 'user-coxsbazar'%}"><h3>Cox's Bazar</h3></a>
           <p>The longest sea beach is wating</p>
       </div>
      </div>
    </div>
{% endblock content %}